[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Bryant Biggs
	email = bryantbiggs@gmail.com
	signingkey = 39ED98861B403E55
[core]
	editor = nano
[commit]
	gpgsign = false
[gpg]
	program = gnupg
