[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Bryant Biggs
	email = bryantbiggs@gmail.com
	username = bryantbiggs
[core]
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
[github]
	user = bryantbiggs
[init]
	templateDir = ~/.git-template
	defaultBranch = main
[pull]
	rebase = false
[pack]
	windowMemory = 100m
