"*":
  "atom-beautify":
    css:
      beautify_on_save: true
    general:
      Executables:
        autopep8:
          path: "/usr/local/bin/autopep8"
      _analyticsUserId: "e2daad5b-6bf1-40e0-b27c-cee3c84f6cd6"
    html:
      beautify_on_save: true
      indent_inner_html: true
    js:
      beautify_on_save: true
      jslint_happy: true
      keep_array_indentation: true
      keep_function_indentation: true
      space_after_anon_function: true
      space_in_paren: true
    json:
      beautify_on_save: true
      jslint_happy: true
      keep_array_indentation: true
      keep_function_indentation: true
      space_after_anon_function: true
      space_in_paren: true
    jsx:
      beautify_on_save: true
      jslint_happy: true
      keep_array_indentation: true
      keep_function_indentation: true
      space_after_anon_function: true
      space_in_paren: true
    python:
      beautify_on_save: false
  "atom-material-ui":
    colors:
      abaseColor: "#5e5e5e"
      accentColor: "#805555"
      genAccent: true
      paintCursor: true
    fonts:
      fontSize: 12
    tabs:
      compactTabs: true
      noTabMinWidth: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-package-deps":
    ignored: []
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Anonymous Pro"
    fontSize: 11
  "exception-reporting":
    userId: "2c098c69-173b-43fb-de3e-855752863e43"
  "go-plus":
    disabledBundledPackages: [
      "hyperclick"
    ]
    panel:
      currentHeight: "14.463840399002494vh"
  kite:
    showKiteTourOnStartup: false
  "language-babel":
    autoIndentJSX: true
  "linter-flake8":
    maxComplexity: 10
    maxLineLength: 100
  "linter-pylint":
    executablePath: "/usr/local/bin/pylint"
    pythonPath: "/usr/local/bin/python3"
    rcFile: ".pylintrc"
  "linter-ui-default":
    panelHeight: 99
    showPanel: true
  "tree-view": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
    debug: true
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    softWrap: true
".js.jsx.source":
  editor:
    softWrap: true
".languagebabel.ttlextension":
  editor:
    softWrap: true
